.header_top {
    height: 25px !important;
    border-bottom: 1px solid #DBDBDB;
    background: url(../images/header_top.png) repeat-x;
}

.w960 {
    width: 960px;
    margin: 0px auto;
    overflow: hidden;
}

.time {
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    font: 12px Verdana, Arial, Tahoma;
}

.topLinks {
    padding-top: 5px;
    float: right;
    font: 12px Verdana, Arial, Tahoma;
}

.indexJars {
    padding-top: 50px;
}

.indexJars li {
    list-style-type: none;
    padding-left: 10px;
    float: left;
}

.indexJars li a {
}

.data_list {
    border: 1px solid #E5E5E5;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.data_list .data_list_title {
    font-size: 15px;
    font-weight: bold;

    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 10px;
    padding-top: 5px;
}

.data_list .data_list_title img {
    margin-top: 1px;
    vertical-align: top;
}

.resultJars {
    padding-left: 0px;
    height: 1000px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resultJars li {
    list-style-type: none;
    padding-left: 6px;
    float: left;
}

.data_list .datas {
    padding: 5px;
}

.data_list .datas ul {
    list-style-type: none;
    padding-left: 2px;
}

.data_list .datas ul li {
    margin-top: 10px;
}

.data_list .search {
    padding: 5px;
}

.search .title a {
    color: #256EB1;
    font-weight: normal;
    text-decoration: underline;
}